header {
    height: 5rem;
    background-color: #FFA500;

    .fnt-std {
        font-size: 1.25rem;
    }

    .logo {
        object-fit: cover;
        width: 3.125rem;

        img {
            width: 100%;
            border-radius: 6.25rem;
        }
    }

    ul {
        padding: 0;
        margin: 0;

        li {

            list-style: none;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }



}