@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'footer';
@import 'utils';
@import 'header';

//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
}

a {
    color: black;
}

//reset

body {
    // background-color: rgba(251, 255, 254, .75);
    // opacity: 1;
    // background-image: linear-gradient(135deg, rgba(213, 50, 52, .75) 25%, transparent 25%), linear-gradient(225deg, rgba(213, 50, 52, .75) 25%, transparent 25%), linear-gradient(45deg, rgba(213, 50, 52, .75) 25%, transparent 25%), linear-gradient(315deg, rgba(213, 50, 52, .75) 25%, rgba(251, 255, 254, .75) 25%);
    // background-position: 100px 0, 100px 0, 0 0, 0 0;
    // background-size: 100px 100px;
    // background-repeat: repeat;

    // overflow: hidden;
    // background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // background-image: url();
    position: relative;
    overflow: hidden;


}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/public/img/Bg-pattern.JPG);
    background-repeat: repeat;
    background-size: 200px;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

.content {
    background-color: rgba(252, 252, 252, 0.1);
    padding: 20px;
}


.blocknone {
    display: none;
}

.on {
    display: block;
}

//font paragrafi
p {
    font-size: 1.125rem;
}

//Home

//jumbotron
.jumbotron {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('/img/jumbo.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    .ms_card {
        background-color: rgba(0, 0, 0, 0.356);
        padding: .625rem;
        color: white;
        border-radius: .9375rem;
        margin-top: 75px;
        margin-left: 750px;

        h1 {
            font-size: 4rem;
            color: rgba(0, 0, 0, 0.767);
        }

        h5 {
            font-size: 2.25rem;
        }

        a {
            font-size: 1.5rem;
        }
    }

}

//jumbotron

//card pagina home
.home-card {
    width: calc(100% / 2 - 1.25rem);
    background-color: white;
    border: .125rem solid #FFA500;

    p {
        margin: 0;
    }
}

.order {
    border: .125rem solid #FFA500;
}

.color {
    color: white
}

.color2 {
    color: black;
}

.bgcolor {
    background-color: black;
}

//Home

//TypeArea
.type-card-all {
    width: calc(100% / 8 - 10px);
}

.type-card {
    background-color: white;
    border: 2px solid #FFA500;
    box-shadow: rgba(0, 0, 0, 0.356) .625rem .625rem;
    object-fit: cover;

    .form-check {
        font-size: 18px;
    }
}

//TypeArea
//RestaurantArea
.in-b {
    h2 {
        display: inline-block;
        border-radius: .9375rem;
    }
}

.restaurant-card {
    margin: 0 10px 10px 10px;
    background-color: white;
    border: 2px solid #FFA500;
    box-shadow: rgba(0, 0, 0, 0.356) .625rem .625rem;
}

//RestaurantArea

// cart preview
.cart-thumb {
    width: 4.375rem;
}

.cart-preview {
    width: 18.75rem;
}

// cart preview