@use './variables.scss' as *;
@import 'bootstrap/dist/css/bootstrap.min.css';

//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

//reset
body {
    overflow: hidden;
    background-color: $color3;
}

//colori layout
.ms_text {
    font-family: "Nunito", sans-serif;
}

.custom_btn {
    color: $color1;
    background-color: $color6;
    border: none;
}

.custom_btn:hover {
    color: $color9;
    background-color: $color5;
}