//colori layout
.bg-nav {
    background-color: #FFA500;
}

.text-org {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: #FFA500;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, .25);
    padding: .5rem;
    border-radius: .9375rem;
}

.btn-org {
    color: black;
    background-color: #FFA500;
    border: none;
}

//colori layout
a {
    text-decoration: none;
}

//font
.fs-secondary {
    font-size: .75rem;
}