$color1: #fde9c2;

// $color2: #b2becf;
// $color3: #686b73;
// $color4: #7f8692;
// $color5: #847484;
// $color6: #4a516a;
// $color7: #171513;
// $color8: #5b3d2d;
// $color9: #372820;
// $color11: #97a1b0;
// $color10: #77582b;

// $color2: #f4effc;
// $color3: #e2daeb;
// $color4: #c9bae2;
// $color5: #67568c;
// $color6: #301e4e;
// $color7: #1f1235;
// $color8: #1b1425;
// $color9: #ff6e6c;
// $color10: #fbdd74;


$color2: #fffffe;
$color3: #e8e4e6;
$color4: #abd1c6;
$color5: #516861;
$color6: #004643;
$color7: #0f3433;
$color8: #001e1d;
$color9: #e16162;
$color10: #f9bc60;