$color1: #4a516a;
$color2: #686b73;
$color3: #7f8692;
$color4: #97a1b0;
$color5: #b2becf;
$color6: #fde9c2;

$color1b: #171513;
// $color2: #372820;
// $color3: #5b3d2d;
// $color4: #77582b;
// $color5: #847484;
// $color6: #fde9c2;